<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <table id="formValidation">
        <tr>
          <th>Field Name</th>
          <th>validators</th>
        </tr>
        <tr>
            <td>First Name </td>
            <td>Required</td>
        </tr>
        <tr>
            <td>Last Name </td>
            <td>Required</td>
        </tr>
        <tr>
            <td>Email Name </td>
            <td>Required, Pattern</td>
        </tr>
        <tr>
            <td>Password</td>
            <td>Required, Min Length, Max Length</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>Required</td>
        </tr>
        <tr>
            <td>Phone Number</td>
            <td>Required, only numbers are allowed, Min Length, Max Length</td>
        </tr>
        <tr>
            <td>Terms Condiction Checkbox</td>
            <td>Required</td>
        </tr>
      </table>
      
</ion-content>
